<!doctype html>
<html>
    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
    </head>
    <body>
        <form method="POST">
            {{ form.csrf_token }}
            {{ form.username }}
            {{ form.password }}
            {{ form.submit }}
        </form>
    </body>
</html>